.searchSection {
    display: flex;
}

.searchInput {
    width: 80%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin: 12px;
}

.searchBtn {
    width: 20%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin: 12px;
}

.optionList {
    padding: auto;
    margin: 0;
    list-style-type: none;
}

.repoOptions {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
    font-size: 18px;
    color: black;
    display: block;
    width: 90%;
}

.repoOptions:hover {
    background-color: #c4b7b7;
    cursor: pointer;
}
